
<h1 class='site-title'><%= site.title %></h1>


<%
   items = site.items.latest.limit(24)
   ItemCursor.new( items ).each do |item, new_date, new_feed|
%>


<% if new_date %>
 <h4 class='new-date'>
  <%= item.published.strftime('%A, %B %e, %Y') %>
 </h4>
<% else %>
  <div class='item-separator'></div>
<% end %>



<article class='item'>

<% if new_feed %>
<h4 class='feed-title'>
  <%= link_to item.feed.title, item.feed.url %>
</h4>
<% end %>


<h3 class='item-title'>
 <%= link_to item.title, item.url %>
 <span class='item-timestamp'>
   <%= item.published.strftime('%H:%M') %> • 
   <%= time_ago_in_words( item.published ) %>
 </span>
</h3>


<div class='item-body'>

<div class='item-snippet'>
<!-- use 'smarter' algorithm for cutoff snippet text
   note: summary goes first; than try content -->
<% if item.summary %>
  <%= textify( item.summary )[0..800] %>
<% elsif item.content %>
  <%= textify( item.content )[0..800] %>
<% else %>
  -/-
<% end %>
</div>

</div>

</div><!-- item-body -->

</article><!-- item -->

<% end %><!-- each item -->

