
<h1>
  <a href='<%= root_path %>'><%= site.title %></a> 
     › 
  <a href='<%= feed.url %>'><%= feed.title %></a>
  
  <span style='color: grey; font-size: 50%;'>(<%= feed.items.count %>)</span>

  <a href='<%= feed.feed_url %>'><img src="<%= url('feed-icon-10x10.png') %>"></a>
</h1>

<p>
  <%= feed.summary %>
</p>

<% items = feed.items.latest
   ItemCursor.new( items ).each do |item,new_date,new_feed| %>

<% if new_date %>
<h2 class='new_date'>
  <%= item.published.strftime('%A, %d. %B %Y') %>
</h2>
<% else %>
  <hr class='item_seperator'>
<% end %>

<div class='item'>

<h3>
 <a href='<%= item.url %>'><%= item.title %></a>
</h3>

<div class='item_content'>
  <%= item.summary %>
</div>
</div><!-- item -->

<!--
<p>
   <%= item.published.strftime('%H:%M') %>
</p>
-->

<% end %><!-- each item -->
