<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name='generator' content='<%= Pluto.generator %>'>

  <title><%= site.title %></title>

  <%= stylesheet_link_tag 'css/hacker' %>
  <%= stylesheet_link_tag 'css/pluto' %> <!-- shared css for all; multi site -->

</head>
<body>

<%= yield %>

<%= erb :'shared/_version' %>

</body>
</html>
