
<h1><%= site.title %></h1>

<table>
<tr>
  <td style='vertical-align:top;'><!-- first column -->

<% items = site.items.latest.limit(21)
   ItemCursor.new( items ).each do |item,new_date,new_feed| %>

<% if new_date %>
<h3>
  <%= item.published.strftime('%A, %d. %B %Y') %>
</h3>
<% end %><!-- if new_day -->


<div class='item'>

<h4 class='feed_title'>
  <a href='<%= item.feed.url %>'><%= item.feed.title %></a>
</h4>

<h2 class='item_title'>
 <a href='<%= item.url %>'><%= item.title %></a>
</h2>

<div class='item_content'>
  <%= item.summary %>
</div>
</div>

<!--
<p>
   <%= item.published.strftime('%H:%M') %>
</p>
-->

<% end %><!-- each item -->
  </td>
  <td style='vertical-align:top;'><!-- second column -->

    <div class='colright'>
    <p>
      Last Updated
    </p>
    <p class='smaller'>
      <% if site.fetched %>
        <%= site.fetched.strftime('%A, %d. %B %Y %H:%M') %>
      <% end %>
    </p>

    <p>Subscriptions</p>
    <ul class='subscriptions smaller' >
     <% site.feeds.order(:title).each do |feed| %>
      <li>
        <a href='<%= feed.feed_url %>'><img src='feed-icon-10x10.png'></a>         
        <a href='<%= feed.url %>'><%= feed.title %></a></li>
     <% end %>
     </ul>
    </div>

  </td>
</tr>
</table>
