
<div class='banner'>
<table cellspacing='0' cellpadding='0' width='100%'>
 <tr>
   <td>
<!-- left/1st column -->
Planets | 
<% Site.order(:id).each_with_index do |site,index| %>
   <% if index > 0 %>
      •
   <% end %>
   <!-- cut of starting Planet in title -->
   <%= link_to site.title.sub( /^Planet /, '' ), "/#{site.key}" %>
<% end %>
<!--
    •
  <%= link_to 'Make Your Own', 'http://feedreader.github.io' %>
-->
  </td>
  <td style='text-align:right; font-size: 12px;'>
    <!-- right/2nd column -->
     Styles  | 
    <%= link_to 'Standard', '?style=std' %> • 
    <%= link_to 'Cards', '?style=cards' %> • 
    <%= link_to 'News', '?style=news' %> • 
    <%= link_to 'Hacker', '?style=hacker' %> • 
    <%= link_to 'Digest', '?style=digest' %>  • 
    <%= link_to 'Paper', '?style=paper' %>  • 
    <%= link_to 'Forty', '?style=forty' %>  • 
    <%= link_to 'Top', '?style=top' %> •
    <%= link_to 'Do-It-Yourself', 'http://planet-templates.github.io' %>
</td>
 </tr>
</table>
</div>

