
<!-- todo/check:
   use published or updated for date?
  -->

<style>
  body {
    font-family: sans-serif;
  }

  h1 { font-size: 16px; } /* timeline title */
  h2 { font-size: 14px; } /* datetitle */

  .feed-title a,
  .item-title a {
    text-decoration: none;
  }

  .item-title a {
    font-weight: bold;
    color: black;
  }
  
  .feed-title a {
    color: grey;
  }

  .feed-title a:hover,
  .item-title a:hover {
    text-decoration: underline;
  }

  .item-title a:visited {
    color: grey;
  }

  .feed-title a:hover,
  .item-title a:hover {
    color: black;
  }

  .item-timestamp {
    color: grey;
    font-size: 12px;
  }

  .feed-title {
    color: grey;
    font-size: 12px;
  }
  
  .item-title {
    font-size: 14px;
  }

  .item-content {
    font-size: 12px;
    color: #333333;
  }


</style>


<h1 style='text-align: center;'>Timeline</h1>


<table>
<%
   items = Item.latest.limit(33)
   ItemCursor.new( items ).each do |item, new_date, new_feed|
%>

<% if new_date %>
 <tr>
  <td colspan='2' align='center'>
     <h2 style='padding-top: 10px; padding-bottom: 4px;'><%= item.updated.strftime('%A, %B %-d, %Y') %></h2>
  </td>
 </tr>
<% end %>

<tr>
 <td valign='top'>
   <div class='item-timestamp'>
      <%= item.updated.strftime('%H:%M') %>
   </div>
 </td>

 <td>
  <article class='item'>
    <span class='item-title'>
      <%= link_to item.title, item.url %>
    </span>

   <span class='feed-title'>
      • <%= link_to item.feed.title, item.feed.url %>
   </span>
   <br>
    <span class='item-content'>
     
<!-- use 'smarter' algorithm for cutoff snippet text
   note: summary goes first; than try content -->
<% if item.summary %>
  <%= strip_tags(textify( item.summary ))[0..300] %>
<% elsif item.content %>
  <%= strip_tags(textify( item.content ))[0..300] %>
<% else %>
  -/-
<% end %>
     </span>

</article><!-- item -->
 </td>
</tr>

<% end %>

</table>
